/**** Style for logo and top page*/
body {
  padding-top: -10px;
  padding-bottom: 50px;
 
}
img{
	height: 100px;
	width: 100px;
	margin: 0 25px;
}
.container{
	font-size: -115px;
	
}
.container img{
	float: left;
}

/**** BODY*****/
body{
	background-color: #aab6c4;
	color: #2d4b6f;
}
.container{
	font-family: "Arial Verdana","Times New Roman", Times, serif;
	font-weight: bolder;
}

.head{
	font-family: "Arial Black","Times New Roman", Times, serif;
	font-weight: bolder;
	padding: 15px;
	color: #fff;
}
.sec-1{
	margin-top: 40px;
	background-color: #fff;
}
.btnstyle{
	margin-left: 45%;
}
.btnstyle-1{
	color: #e04b4b;
}

/** Fotter stle **/
.mastfoot{
	margin-left: 45%;	
	padding: 20px;
	color: #fff;
}
.head-1-1{
	color: #000;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: bolder;
	padding: 15px;
}


/* PROFILE PAGE   */

